.F_Filters {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
}

.F_Filter:not(:last-child) {
    margin-right: 40px;
}

.F_Filter {
    font-family: var(--normal-paragraph-font);
    font-weight: var(--normal-paragraph-font-weight);
    font-size: var(--normal-paragraph-font-size);
    line-height: var(--normal-paragraph-line-height);
    letter-spacing: var(--normal-paragraph-letter-spacing);
    color: var(--secondary-paragraph-color);
    cursor: pointer;
    border: none;
    background: none;
}

.F_ActiveFilter {
    border-radius: 10px;
    padding: 0 10px;
    color: var(--primary-background-color);
    background: var(--skin-color);
}

/* Responsive. */
@media (width > 2000px) {}

@media (width <=2000px) {}

@media (width <=1520px) {}

@media (width <=1440px) {}

@media (width <=1000px) {}

@media (width <=850px) {}

@media (width <=750px) {
    .F_Filter:not(:last-child) {
        margin-right: 20px;
    }
}

@media (width <=600px) {
    .F_Filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .F_Filter:not(:last-child) {
        margin-right: 0;
    }

    .F_Filter:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (width <=500px) {}