.SDMB_controlIcon {
    fill: var(--secondary-paragraph-color);
    height: var(--icon-size);
    width: var(--icon-size);
    cursor: pointer;
    background: none;
    border: none;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
}

.SDMB_controlIcon:hover {
    fill: var(--skin-color);
    cursor: pointer;
    transform: scale3d(1.3, 1.3, 0.3);
    -webkit-transform: scale3d(1.3, 1.3, 0.3);
    -moz-transform: scale3d(1.3, 1.3, 0.3);
}


.SDMB_controlIcon:not(:last-child) {
    margin-bottom: 22px;
    margin-right: 22px;
}